.bor_but{background:url(../images/home_icon.png) 0 -819px no-repeat; width:82px; height:32px; font-size:15px; color:#fff; border:none; cursor:pointer;}

.lb1_h{width:700px; height:auto; overflow:hidden;}
.lb1_h h4{background:url(../images/home_icon.png) -388px -374px no-repeat;_background:url(../images/home_icon.gif) -388px -374px no-repeat; line-height:36px; float:left; padding-left:37px; font-size:15px; font-family:"Microsoft Yahei"; font-weight:bold; color:#323232; margin-right:10px;}
.lb1_h span{color:#f26100;}
.lb1_h p{line-height:37px; float:left;}
.lb1{width:660px; height:auto; overflow:hidden; background:#fff7dc; border-top:1px #c2c2c2 dotted; padding:10px 20px; margin-bottom:20px;}
.lb1_upper{width:660px; height:auto; overflow:hidden; padding-bottom:5px;}
.lb1_upper p{line-height:24px;}
.lb1_upper span{padding:0 6px; color:#505050;}
.lb1_lower{width:660px; height:auto; overflow:hidden;}
.lb1_ll{background:url(../images/home_icon.png) 0 -374px no-repeat; width:365px; height:61px; float:left; padding-left:8px; padding-right:15px; padding-top:7px;}
.lb1_ll th{font-size:12px; font-family:"Microsoft Yahei"; font-weight:bold; color:#969696; line-height:24px; text-align:center;}
.lb1_ll td{font-size:12px; color:#505050; font-family:"Microsoft Yahei"; text-align:center; line-height:24px;}
.lb1_lr{width:240px; float:right; text-align:right; padding-top:12px;}
.lb1_lr p{line-height:24px;}
.lb1_lr span{padding:0 3px; color:#e65000; font-weight:bold; font-family:Arial;}

.lb2_h{width:700px; height:auto; overflow:hidden;}
.lb2_h h4{background:url(../images/home_icon.png) -388px -442px no-repeat;_background:url(../images/home_icon.gif) -388px -442px no-repeat; line-height:36px; float:left; padding-left:37px; font-size:15px; font-family:"Microsoft Yahei"; font-weight:bold; color:#323232; margin-right:10px;}
.lb2_h span{color:#11aa5c;}
.lb2_h p{line-height:37px; float:left;}
.lb2{width:660px; height:auto; overflow:hidden; background:#f3f8f3; border-top:1px #c2c2c2 dotted; padding:10px 20px; margin-bottom:20px;}
.lb2_upper{width:660px; height:auto; overflow:hidden; padding-bottom:5px;}
.lb2_upper p{line-height:24px;}
.lb2_upper span{padding:0 6px; color:#505050;}
.lb2_lower{width:660px; height:auto; overflow:hidden;}
.lb2_ll{background:url(../images/home_icon.png) 0 -442px no-repeat; width:365px; height:61px; float:left; padding-left:8px; padding-right:15px; padding-top:7px;}
.lb2_ll th{font-size:12px; font-family:"Microsoft Yahei"; font-weight:bold; color:#969696; line-height:24px; text-align:center;}
.lb2_ll td{font-size:12px; color:#505050; font-family:"Microsoft Yahei"; text-align:center; line-height:24px;}
.lb2_lr{width:240px; float:right; text-align:right; padding-top:12px;}
.lb2_lr p{line-height:24px;}
.lb2_lr span{padding:0 3px; color:#e65000; font-weight:bold; font-family:Arial;}

.lb3_h{width:700px; height:auto; overflow:hidden;}
.lb3_h h4{background:url(../images/home_icon.png) -388px -510px no-repeat;_background:url(../images/home_icon.gif) -388px -510px no-repeat; line-height:36px; float:left; padding-left:37px; font-size:15px; font-family:"Microsoft Yahei"; font-weight:bold; color:#323232; margin-right:10px;}
.lb3_h span{color:#c48656;}
.lb3_h p{line-height:37px; float:left;}
.lb3{width:660px; height:auto; overflow:hidden; background:#fbf7f4; border-top:1px #c2c2c2 dotted; padding:10px 20px; margin-bottom:20px;}
.lb3_upper{width:660px; height:auto; overflow:hidden; padding-bottom:5px;}
.lb3_upper p{line-height:24px;}
.lb3_upper span{padding:0 6px; color:#505050;}
.lb3_lower{width:660px; height:auto; overflow:hidden;}
.lb3_ll{background:url(../images/home_icon.png) 0 -510px no-repeat; width:365px; height:61px; float:left; padding-left:8px; padding-right:15px; padding-top:7px;}
.lb3_ll th{font-size:12px; font-family:"Microsoft Yahei"; font-weight:bold; color:#969696; line-height:24px; text-align:center;}
.lb3_ll td{font-size:12px; color:#505050; font-family:"Microsoft Yahei"; text-align:center; line-height:24px;}
.lb3_lr{width:240px; float:right; text-align:right; padding-top:12px;}
.lb3_lr p{line-height:24px;}
.lb3_lr span{padding:0 3px; color:#e65000; font-weight:bold; font-family:Arial;}

.lb4_h{width:700px; height:auto; overflow:hidden;}
.lb4_h h4{background:url(../images/home_icon.png) -388px -578px no-repeat;_background:url(../images/home_icon.gif) -388px -578px no-repeat; line-height:36px; float:left; padding-left:37px; font-size:15px; font-family:"Microsoft Yahei"; font-weight:bold; color:#323232; margin-right:10px;}
.lb4_h span{color:#db2465;}
.lb4_h p{line-height:37px; float:left;}
.lb4{width:660px; height:auto; overflow:hidden; background:#f9f7f8; border-top:1px #c2c2c2 dotted; padding:10px 20px; margin-bottom:20px;}
.lb4_upper{width:660px; height:auto; overflow:hidden; padding-bottom:5px;}
.lb4_upper p{line-height:24px;}
.lb4_upper span{padding:0 6px; color:#505050;}
.lb4_lower{width:660px; height:auto; overflow:hidden;}
.lb4_ll{background:url(../images/home_icon.png) 0 -578px no-repeat; width:365px; height:61px; float:left; padding-left:8px; padding-right:15px; padding-top:7px;}
.lb4_ll th{font-size:12px; font-family:"Microsoft Yahei"; font-weight:bold; color:#969696; line-height:24px; text-align:center;}
.lb4_ll td{font-size:12px; color:#505050; font-family:"Microsoft Yahei"; text-align:center; line-height:24px;}
.lb4_lr{width:240px; float:right; text-align:right; padding-top:12px;}
.lb4_lr p{line-height:24px;}
.lb4_lr span{padding:0 3px; color:#e65000; font-weight:bold; font-family:Arial;}

.lb5_h{width:700px; height:auto; overflow:hidden;}
.lb5_h h4{background:url(../images/home_icon.png) -388px -646px no-repeat;_background:url(../images/home_icon.gif) -388px -646px no-repeat; line-height:36px; float:left; padding-left:37px; font-size:15px; font-family:"Microsoft Yahei"; font-weight:bold; color:#323232; margin-right:10px;}
.lb5_h span{color:#2f77ce;}
.lb5_h p{line-height:37px; float:left;}
.lb5{width:660px; height:auto; overflow:hidden; background:#f5f7ff; border-top:1px #c2c2c2 dotted; padding:10px 20px; margin-bottom:20px;}
.lb5_upper{width:660px; height:auto; overflow:hidden; padding-bottom:5px;}
.lb5_upper p{line-height:24px;}
.lb5_upper span{padding:0 6px; color:#505050;}
.lb5_lower{width:660px; height:auto; overflow:hidden;}
.lb5_ll{background:url(../images/home_icon.png) 0 -646px no-repeat; width:365px; height:61px; float:left; padding-left:8px; padding-right:15px; padding-top:7px;}
.lb5_ll th{font-size:12px; font-family:"Microsoft Yahei"; font-weight:bold; color:#969696; line-height:24px; text-align:center;}
.lb5_ll td{font-size:12px; color:#505050; font-family:"Microsoft Yahei"; text-align:center; line-height:24px;}
.lb5_lr{width:240px; float:right; text-align:right; padding-top:12px;}
.lb5_lr p{line-height:24px;}
.lb5_lr span{padding:0 3px; color:#e65000; font-weight:bold; font-family:Arial;}

.lb6_h{width:700px; height:auto; overflow:hidden;}
.lb6_h h4{background:url(../images/home_icon.png) -388px -714px no-repeat;_background:url(../images/home_icon.gif) -388px -714px no-repeat; line-height:36px; float:left; padding-left:37px; font-size:15px; font-family:"Microsoft Yahei"; font-weight:bold; color:#323232; margin-right:10px;}
.lb6_h span{color:#2db511;}
.lb6_h p{line-height:37px; float:left;}
.lb6{width:660px; height:auto; overflow:hidden; background:#f7fff5; border-top:1px #c2c2c2 dotted; padding:10px 20px; margin-bottom:20px;}
.lb6_upper{width:660px; height:auto; overflow:hidden; padding-bottom:5px;}
.lb6_upper p{line-height:24px;}
.lb6_upper span{padding:0 6px; color:#505050;}
.lb6_lower{width:660px; height:auto; overflow:hidden;}
.lb6_ll{background:url(../images/home_icon.png) 0 -714px no-repeat; width:365px; height:61px; float:left; padding-left:8px; padding-right:15px; padding-top:7px;}
.lb6_ll th{font-size:12px; font-family:"Microsoft Yahei"; font-weight:bold; color:#969696; line-height:24px; text-align:center;}
.lb6_ll td{font-size:12px; color:#505050; font-family:"Microsoft Yahei"; text-align:center; line-height:24px;}
.lb6_lr{width:240px; float:right; text-align:right; padding-top:12px;}
.lb6_lr p{line-height:24px;}
.lb6_lr span{padding:0 3px; color:#e65000; font-weight:bold; font-family:Arial;}

#rb1{width:250px; height:auto; overflow:hidden; background:#f4efe6; padding:15px;}
#rb1_upper{width:250px; height:auto; overflow:hidden;}
#rb1_upper_l{background:url(../images/home_icon.png) 0 -851px no-repeat; width:40px; height:40px; float:left;}
#rb1_upper_r{width:200px; float:right;}
#rb1_upper_r h3{font-size:18px; color:#b09a73; line-height:24px; font-family:"Microsoft Yahei"; background:url(../images/home_icon.png) -442px -890px no-repeat;}
#rb1_upper_r p{color:#cdbb9a; line-height:16px;}
/* #rb1_con{width:250px; height:auto; overflow:hidden;} */
.rb1_bo1{width:240px; height:auto; overflow:hidden; padding-top:30px; padding-left:10px;}
.rb1_bo1 h4{background:url(../images/home_icon.png) 0 -901px no-repeat; font-family:"Microsoft Yahei"; padding-left:25px; font-size:15px; color:#b09a73; line-height:18px; margin-bottom:7px;}
.rb1_bo1 p{padding-left:25px; color:#b19d7a; line-height:18px;}
.rb1_bo2{width:240px; height:auto; overflow:hidden; padding-top:30px; padding-left:10px;}
.rb1_bo2 h4{background:url(../images/home_icon.png) -274px -1020px no-repeat; font-family:"Microsoft Yahei"; padding-left:28px; font-size:15px; color:#b09a73; line-height:23px; margin-bottom:3px;}
.rb1_bo2 p{padding-left:28px; color:#b19d7a; line-height:18px;}
.rb1_bo3{width:240px; height:auto; overflow:hidden; padding-top:30px; padding-left:10px;}
.rb1_bo3 h4{background:url(../images/home_icon.png) -548px -1020px no-repeat; font-family:"Microsoft Yahei"; padding-left:28px; font-size:15px; color:#b09a73; line-height:23px; margin-bottom:3px;}
.rb1_bo3 p{padding-left:28px; color:#b19d7a; line-height:18px;}
.rb1_bo1 .rb_but{background:url(../images/home_icon.png) 0 -782px no-repeat; width:113px; height:37px; border:none; cursor:pointer; font-size:15px; color:#fff; margin:10px 25px;}

.rb2_h{width:280px; height:38px; background:url(../images/home_91.gif); margin-top:20px;}
.rb2_h ol li{float:left; width:139px; line-height:36px; text-align:center;}
.rb2_h a{font-size:14px;}
.rb2_h .cen{background:#fff; border-left:1px #EBEBEB solid; border-right:1px #EBEBEB solid; border-top:2px #0697da solid;}
.rb2_h .cen a{color:#0697da; font-weight:bold; font-size:15px; font-family:"Microsoft Yahei";}
.rb2{width:278px; height:248px; overflow:hidden; border-bottom:1px #EBEBEB solid; border-left:1px #EBEBEB solid; border-right:1px #EBEBEB solid;}
.rb2 ul{padding:5px 15px;}
.rb2 ul li{line-height:24px !important; line-height:25px;}
*+html .rb2 ul li{line-height:25px !important;}
.rb2 p{float:left; width:100px;}
.rb2 a{float:left;}
.rb2 span{float:right; font-size:12px; color:#e69600;}

.rb1_h{width:280px; height:37px; border-bottom:1px #0697da solid; margin-top:20px; background:#f5f5f5;}
.rb1_h h4{padding:0 10px; line-height:37px; font-size:14px; font-weight:bold; font-family:"Microsoft Yahei"; color:#323232; float:left;}
.rb1_h a{float:right; line-height:37px; padding:0 10px;}

.rb3{width:278px; height:auto; overflow:hidden; border-bottom:1px #EBEBEB solid; border-left:1px #EBEBEB solid; border-right:1px #EBEBEB solid;}
.rb3_upper{width:248px; height:auto; overflow:hidden; margin:0 auto; padding-top:9px !important; padding-top:14px; padding-bottom:0 !important; padding-bottom:7px;}
*+html .rb3_upper{padding-top:12px !important; padding-bottom:1px !important;}
.rb3_upper_l{float:left;}
.rb3_upper_r{width:200px; float:right;}
.rb3_upper h4{font-size:14px; font-family:"Microsoft Yahei"; font-weight:bold; color:#e69600; line-height:30px;}
.rb3_upper p{line-height:16px;}
.rb3 ul{padding:5px 15px;}
.rb3 ul li{background:url(../images/home_icon.png) 0 -312px no-repeat;_background:url(../images/home_icon.gif) 0 -312px no-repeat; line-height:23px; padding-left:8px;}

/* App */
.app_hd1{background:url(../images/home_icon.png) -388px -374px no-repeat;_background:url(../images/home_icon.gif) -388px -374px no-repeat; width:360px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 solid; font-size:16px; color:#646464; line-height:36px; padding-left:37px; font-family:"Microsoft Yahei";}
.app_hd1 span{color:#f26100;}
.app_hd2{background:url(../images/home_icon.png) -388px -442px no-repeat;_background:url(../images/home_icon.gif) -388px -442px no-repeat; width:360px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 solid; font-size:16px; color:#646464; line-height:36px; padding-left:37px; font-family:"Microsoft Yahei";}
.app_hd2 span{color:#11aa5c;}
.app_hd3{background:url(../images/home_icon.png) -388px -510px no-repeat;_background:url(../images/home_icon.gif) -388px -510px no-repeat; width:360px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 solid; font-size:16px; color:#646464; line-height:36px; padding-left:37px; font-family:"Microsoft Yahei";}
.app_hd3 span{color:#c48656;}
.app_hd4{background:url(../images/home_icon.png) -388px -578px no-repeat;_background:url(../images/home_icon.gif) -388px -578px no-repeat; width:360px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 solid; font-size:16px; color:#646464; line-height:36px; padding-left:37px; font-family:"Microsoft Yahei";}
.app_hd4 span{color:#db2465;}
.app_hd5{background:url(../images/home_icon.png) -388px -646px no-repeat;_background:url(../images/home_icon.gif) -388px -646px no-repeat; width:360px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 solid; font-size:16px; color:#646464; line-height:36px; padding-left:37px; font-family:"Microsoft Yahei";}
.app_hd5 span{color:#2f77ce;}
.app_hd6{background:url(../images/home_icon.png) -388px -714px no-repeat;_background:url(../images/home_icon.gif) -388px -714px no-repeat; width:360px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 solid; font-size:16px; color:#646464; line-height:36px; padding-left:37px; font-family:"Microsoft Yahei";}
.app_hd6 span{color:#2db511;}

.app_box1{width:560px; height:auto; overflow:hidden; margin-top:10px; background:#F0F8FA; border-top:1px #bfb482 dotted; padding:35px 70px;}
.app_box1 h4{width:300px; height:auto; overflow:hidden; border-bottom:1px #bfb482 dotted; font-size:14px; font-weight:bold; font-family:"Microsoft Yahei"; color:#323232; line-height:24px;}
.app_box1 ul{margin-top:20px;}
.app_box1 ul li{width:560px; height:auto; overflow:hidden; padding-bottom:10px;}
.app_box1 p{width:120px; float:right; text-align:right; color:#91804a; line-height:24px; float:left; font-family:Arial;}
.app_box1 .ab_text{width:120px; height:22px; background:#fff; border:1px #ddcd98 solid; float:left; padding:0 3px; line-height:22px; font-size:12px; color:#505050; outline:none;margin:0 5px;}
.app_box1 .sel_border{float:left;margin:0 5px;}
.app_box1 .ore{float:left; margin-right:5px; margin-top:5px !important; margin-top:1px;}
*+html .app_box1 .ore{margin-top:2px !important;}
.app_box1 .ore2{float:left; margin-right:5px;}
.app_box1 .award{background:url(../images/home_icon.png) -113px -782px no-repeat; width:332px; height:85px; float:left; margin-top:4px;}
.app_box1 .award ol{padding:10px 15px;}
.app_box1 .award ol li{padding-bottom:10px; width:302px; height:auto; overflow:hidden;}
.app_box1 h6{font-size:12px; color:#787878; line-height:22px; float:left;}

.app_box2{width:560px; height:auto; overflow:hidden; margin-top:10px; background:#F0F8FA; border-top:1px #bfb482 dotted; padding:35px 70px;}
.app_box2 h4{width:300px; height:auto; overflow:hidden; border-bottom:1px #bfb482 dotted; font-size:14px; font-weight:bold; font-family:"Microsoft Yahei"; color:#323232; line-height:24px;}
.app_box2 ul{margin-top:20px; padding:0 50px;}
.app_box2 ul li{width:230px; height:auto; overflow:hidden; white-space:nowrap; padding-bottom:10px; font-size:12px; color:#91804a; line-height:24px; float:left; font-family:Arial;}
.app_box2 .ore{float:left; margin-right:5px; margin-top:5px !important; margin-top:1px;}
*+html .app_box2 .ore{margin-top:2px !important;}

.app_box3{width:560px; height:auto; overflow:hidden; margin-top:10px; background:#F0F8FA; border-top:1px #bfb482 dotted; padding:35px 70px;}
.app_box3 h4{width:300px; height:auto; overflow:hidden; border-bottom:1px #bfb482 dotted; font-size:14px; font-weight:bold; font-family:"Microsoft Yahei"; color:#323232; line-height:24px;}
.app_box3 ul{margin-top:20px;}
.app_box3 ul li{width:560px; height:auto; overflow:hidden; padding-bottom:10px;font-size:12px; color:#787878; line-height:22px;}
.app_box3 p{width:120px; float:right; text-align:right; color:#91804a; line-height:24px; float:left; font-family:Arial;}
.app_box3 .ab_text1{width:220px; height:22px; background:#fff; border:1px #ddcd98 solid; float:left; padding:0 3px; line-height:22px; font-size:12px; color:#505050; outline:none;margin:0 5px;}
.app_box3 .ab_text2{width:120px; height:22px; background:#fff; border:1px #ddcd98 solid; float:left; padding:0 3px; line-height:22px; font-size:12px; color:#b4b4b4; outline:none;margin:0 5px;}
.app_box3 .ab_tea{width:340px; height:120px; overflow-y:auto; overflow-x:hidden;background:#fff; border:1px #ddcd98 solid; float:left; padding:0 3px; font-size:12px; color:#505050; line-height:18px; outline:none; margin:0 5px;}
.app_box3 .ore{float:left; margin-right:5px; margin-top:5px !important; margin-top:0;}
*+html .app_box3 .ore{margin-top:0 !important;}
.app_box3 h6{font-size:12px; color:#787878; line-height:22px; float:left;}

.app_but{background:url(../images/home_icon.png) -445px -782px no-repeat; width:131px; height:42px; border:none; cursor:pointer; font-size:15px; color:#fff; margin-left:270px; margin-top:30px; margin-bottom:20px;}

