#stick_h{width:700px;}
#stick_h h4{background:url(../images/home_icon.png) 0 -252px no-repeat;_background:url(../images/home_icon.gif) 0 -252px no-repeat; padding-left:36px; line-height:36px; font-size:15px; font-family:"Microsoft Yahei"; font-weight:bold; color:#323232; float:left;}
#stick_h a{background:url(../images/home_icon.png) -440px -202px no-repeat;_background:url(../images/home_icon.gif) -440px -202px no-repeat; padding-left:21px; float:left; line-height:20px; margin-top:9px; margin-left:30px;}

#stick{width:700px; height:auto; overflow:hidden; background:#F0F8FA; border-top:1px #e2d4a6 dotted; padding:10px;}
#stick .sk_h{width:680px; height:auto; overflow:hidden; padding-bottom:10px;}
#stick .sk_h a{float:left; font-size:14px; color:#e65000; line-height:16px;}
#stick .sk_h a:hover{color:#505050;}
#stick .sk_h p{float:right; line-height:14px;}
#stick .sk_h .rate{float:right;}
#stick .sk_con{width:680px;}
#stick .sk_l{width:480px; float:left;}
#stick .sk_r{width:200px; float:right; text-align:right; padding-top:24px;}
#stick .sk_l p{line-height:20px;}
#stick .sk_r p{line-height:28px;}
#stick .sk_r span{font-size:14px; font-family:"Microsoft Yahei";}
#stick .sk_r samp{font-size:22px; color:#e65000; font-family:Arial;}
#stick .sk_r .sk_but{background:url(../images/home_icon.png) -142px -135px no-repeat; width:98px; height:31px; border:none; cursor:pointer; float:right; font-size:15px; color:#ffefba;}

#search{width:698px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 solid; border-left:1px #d2d2d2 solid; border-right:1px #d2d2d2 solid; border-top:1px #0697da solid; margin-top:20px;}
#search_h{width:678px; height:auto; overflow:hidden; background:#f5f5f5; padding:3px 10px;}
#search_h h4{background:url(../images/home_icon.png) -201px -966px no-repeat;_background:url(../images/home_icon.gif) -201px -966px no-repeat; padding-left:23px; font-family:"Microsoft Yahei"; font-size:14px; font-weight:bold; color:#969696; float:left; line-height:24px;}
#search_h a{float:left; margin:2px 5px; line-height:18px; padding-left:4px; padding-right:16px; background-image:url(../images/off.gif); color:#0697da; border:1px #0697da solid; background-color:#fff; background-position:right top; background-repeat:no-repeat;}
#search_h a:hover{text-decoration:none;}
#search ul{width:698px; height:auto; overflow:hidden;}
#search ul li{width:678px; height:auto; overflow:hidden; padding:7px 10px; border-bottom:1px #d2d2d2 dotted; margin-bottom:0; _margin-bottom:-3px; *margin-bottom:-3px;}
#search ul li p{width:66px; float:left; text-align:right; line-height:18px;}
#search ul li a{float:left; margin:0 5px; line-height:18px; color:#0697da;}
#search .sea_text{width:160px; height:22px; background:#fff; border-left:1px #e6e6e6 solid; border-top:1px #e6e6e6 solid; border-bottom:1px #e6e6e6 solid; float:left; line-height:20px; padding:0 3px; font-size:12px; color:#505050; outline:none; border-right:none;}
#search .sea_but{background:url(../images/home_icon.png) -557px -1175px no-repeat; width:27px; height:22px; float:left; border:none; cursor:pointer;}

#list_h{margin-top:10px; background:url(../images/home_79.gif); width:700px; height:40px;}
#list_h h4{line-height:40px; font-size:15px; font-family:"Microsoft Yahei"; font-weight:bold; color:#323232; float:left; padding-left:10px;}
#list_h ul{float:left; padding-left:15px; padding-top:5px;}
#list_h ul li{float:left; width:72px; height:35px; line-height:29px; text-align:center;}
#list_h .cen{background:url(../images/home_icon.png) -129px -970px no-repeat;}
#list_h .cen a{color:#fff; font-weight:bold;}
#list_h p{float:right; line-height:33px; padding-right:10px;}
#list_h span{color:#e65000; font-family:Arial; font-weight:bold; padding:0 3px;}

#list{width:700px; height:auto; overflow:hidden;}
#list th{background:#e6e6e6; font-size:12px; font-family:"Microsoft Yahei"; font-weight:bold; color:#252525; line-height:24px; padding:0 5px;}
#list td{border-bottom:1px #b4b4b4 dotted; line-height:50px; font-size:12px; color:#252525;}
#list td a{font-family:Arial; float:left;}
#list .clew1, #list .clew2, #list .clew_j, #list .clew_tuijiang, #list .clew_m, #list .clew_jing, #list .clew_xin, #list .clew_z, #list .clew_t, #list .clew_p{margin-top:16px;}

#list samp{font-family:Arial;}
#list .list_but{font-size: 14px;
font-weight: bold;
width: 80px;
height: 28px;
line-height: 28px;
border: none;
outline: none;
border-radius: 2px;
background: #3c763d;
color: #FFF;
text-shadow: 0 -1px rgba(0,0,0,0.15);
box-shadow: 0 1px 2px rgba(0,0,0,0.2);
cursor: pointer;
-webkit-appearance: none;}

#list .list_but:hover{background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c8ae7), to(#0d90ff));background: linear-gradient(#216EAF, #0F9BDD);background-color:#216EAF;}


#rb1{ height:auto; overflow:hidden; background:#f4efe6; padding:15px;}
#rb1_upper{width:250px; height:auto; overflow:hidden;}
#rb1_upper_l{background:url(../images/home_icon.png) 0 -970px no-repeat; width:40px; height:40px; float:left;}
#rb1_upper_r{width:200px; float:right;}
#rb1_upper_r h3{font-size:18px; color:#b09a73; line-height:24px; font-family:"Microsoft Yahei"; background:url(../images/home_icon.png) -442px -890px no-repeat;}
#rb1_upper_r p{color:#cdbb9a; line-height:16px;}
.rb1_bo1{width:240px; height:auto; overflow:hidden; padding-top:30px; padding-left:10px;}
.rb1_bo1 h4{background:url(../images/home_icon.png) 0 -1020px no-repeat; font-family:"Microsoft Yahei"; padding-left:28px; font-size:15px; color:#b09a73; line-height:23px; margin-bottom:3px;}
.rb1_bo1 p{padding-left:28px; color:#b19d7a; line-height:18px;}
.rb1_bo2{width:240px; height:auto; overflow:hidden; padding-top:30px; padding-left:10px;}
.rb1_bo2 h4{background:url(../images/home_icon.png) -274px -1020px no-repeat; font-family:"Microsoft Yahei"; padding-left:28px; font-size:15px; color:#b09a73; line-height:23px; margin-bottom:3px;}
.rb1_bo2 p{padding-left:28px; color:#b19d7a; line-height:18px;}
.rb1_bo3{width:240px; height:auto; overflow:hidden; padding-top:30px; padding-left:10px;}
.rb1_bo3 h4{background:url(../images/home_icon.png) -548px -1020px no-repeat; font-family:"Microsoft Yahei"; padding-left:28px; font-size:15px; color:#b09a73; line-height:23px; margin-bottom:3px;}
.rb1_bo3 p{padding-left:28px; color:#b19d7a; line-height:18px;}

.rb2_h{width:280px; height:38px; background:url(../images/home_91.gif); margin-top:20px;}
.rb2_h ol li{float:left; width:139px; line-height:36px; text-align:center;}
.rb2_h a{font-size:14px;}
.rb2_h .cen{background:#fff; border-left:1px #EBEBEB solid; border-right:1px #EBEBEB solid; border-top:2px #0697da solid;}
.rb2_h .cen a{color:#0697da; font-weight:bold; font-size:15px; }
.rb2{width:278px; height:248px; overflow:hidden; border-bottom:1px #EBEBEB solid; border-left:1px #EBEBEB solid; border-right:1px #EBEBEB solid;}
.rb2 ul{padding:5px 15px;}
.rb2 ul li{line-height:24px !important; line-height:25px;}
*+html .rb2 ul li{line-height:25px !important;}
.rb2 p{float:left; width:100px;}
.rb2 a{float:left;}
.rb2 span{float:right; font-size:12px; color:#e69600;}

.rb1_h{width:280px; height:37px; border-bottom:1px #0697da solid; margin-top:20px; background:#f5f5f5;}
.rb1_h h4{padding:0 10px; line-height:37px; font-size:14px; font-weight:bold;  color:#323232; float:left;}
.rb1_h a{float:right; line-height:37px; padding:0 10px;}

.rb3{width:278px; height:auto; overflow:hidden;border: 1px #ededed solid;border-top:none; }
.rb3_upper{width:248px; height:auto; overflow:hidden; margin:0 auto; padding-top:9px !important; padding-top:14px; padding-bottom:0 !important; padding-bottom:7px;}
*+html .rb3_upper{padding-top:12px !important; padding-bottom:1px !important;}
.rb3_upper_l{float:left;}
.rb3_upper_r{width:200px; float:right;}
.rb3_upper h4{font-size:14px;   font-weight:bold; color:#e69600; line-height:30px;}
.rb3_upper p{line-height:16px;}
.rb3 ul{padding:5px 15px;}
.rb3 ul li{background:url(../images/home_icon.png) 0 -312px no-repeat; line-height:23px; padding-left:8px;}

/* App */
.app_hd1{background:url(../images/home_icon.png) -388px -374px no-repeat; width:360px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 solid; font-size:16px; color:#646464; line-height:36px; padding-left:37px; font-family:"Microsoft Yahei";}
.app_hd1 span{color:#f26100;}
.app_hd2{background:url(../images/home_icon.png) -388px -442px no-repeat; width:360px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 solid; font-size:16px; color:#646464; line-height:36px; padding-left:37px; font-family:"Microsoft Yahei";}
.app_hd2 span{color:#11aa5c;}
.app_hd3{background:url(../images/home_icon.png) -388px -510px no-repeat; width:360px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 solid; font-size:16px; color:#646464; line-height:36px; padding-left:37px; font-family:"Microsoft Yahei";}
.app_hd3 span{color:#c48656;}
.app_hd4{background:url(../images/home_icon.png) -388px -578px no-repeat; width:360px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 solid; font-size:16px; color:#646464; line-height:36px; padding-left:37px; font-family:"Microsoft Yahei";}
.app_hd4 span{color:#db2465;}
.app_hd5{background:url(../images/home_icon.png) -388px -646px no-repeat; width:360px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 solid; font-size:16px; color:#646464; line-height:36px; padding-left:37px; font-family:"Microsoft Yahei";}
.app_hd5 span{color:#2f77ce;}
.app_hd6{background:url(../images/home_icon.png) -388px -714px no-repeat; width:360px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 solid; font-size:16px; color:#646464; line-height:36px; padding-left:37px; font-family:"Microsoft Yahei";}
.app_hd6 span{color:#2db511;}

.app_box1{width:560px; height:auto; overflow:hidden; margin-top:10px; background:#f7f5ec; border-top:1px #bfb482 dotted; padding:35px 70px;}
.app_box1 h4{width:300px; height:auto; overflow:hidden; border-bottom:1px #bfb482 dotted; font-size:14px; font-weight:bold; font-family:"Microsoft Yahei"; color:#323232; line-height:24px;}
.app_box1 ul{margin-top:20px;}
.app_box1 ul li{width:560px; height:auto; overflow:hidden; padding-bottom:10px;}
.app_box1 p{width:120px; float:right; text-align:right; color:#91804a; line-height:24px; float:left; font-family:Arial;}
.app_box1 .ab_text{width:120px; height:22px; background:#fff; border:1px #ddcd98 solid; float:left; padding:0 3px; line-height:22px; font-size:12px; color:#505050; outline:none;margin:0 5px;}
.app_box1 .sel_border{float:left;margin:0 5px;}
.app_box1 .ore{float:left; margin-right:5px; margin-top:5px !important; margin-top:1px;}
*+html .app_box1 .ore{margin-top:2px !important;}
.app_box1 .ore2{float:left; margin-right:5px;}
.app_box1 .award{background:url(../images/home_icon.png) -113px -782px no-repeat; width:332px; height:85px; float:left; margin-top:4px;}
.app_box1 .award ol{padding:10px 15px;}
.app_box1 .award ol li{padding-bottom:10px; width:302px; height:auto; overflow:hidden;}
.app_box1 h6{font-size:12px; color:#787878; line-height:22px; float:left;}

.app_box2{width:560px; height:auto; overflow:hidden; margin-top:10px; background:#f7f5ec; border-top:1px #bfb482 dotted; padding:35px 70px;}
.app_box2 h4{width:300px; height:auto; overflow:hidden; border-bottom:1px #bfb482 dotted; font-size:14px; font-weight:bold; font-family:"Microsoft Yahei"; color:#323232; line-height:24px;}
.app_box2 ul{margin-top:20px; padding:0 50px;}
.app_box2 ul li{width:230px; height:auto; overflow:hidden; white-space:nowrap; padding-bottom:10px; font-size:12px; color:#91804a; line-height:24px; float:left; font-family:Arial;}
.app_box2 .ore{float:left; margin-right:5px; margin-top:5px !important; margin-top:1px;}
*+html .app_box2 .ore{margin-top:2px !important;}

.app_box3{width:560px; height:auto; overflow:hidden; margin-top:10px; background:#f7f5ec; border-top:1px #bfb482 dotted; padding:35px 70px;}
.app_box3 h4{width:300px; height:auto; overflow:hidden; border-bottom:1px #bfb482 dotted; font-size:14px; font-weight:bold; font-family:"Microsoft Yahei"; color:#323232; line-height:24px;}
.app_box3 ul{margin-top:20px;}
.app_box3 ul li{width:560px; height:auto; overflow:hidden; padding-bottom:10px;font-size:12px; color:#787878; line-height:22px;}
.app_box3 p{width:120px; float:right; text-align:right; color:#91804a; line-height:24px; float:left; font-family:Arial;}
.app_box3 .ab_text1{width:220px; height:22px; background:#fff; border:1px #ddcd98 solid; float:left; padding:0 3px; line-height:22px; font-size:12px; color:#505050; outline:none;margin:0 5px;}
.app_box3 .ab_text2{width:120px; height:22px; background:#fff; border:1px #ddcd98 solid; float:left; padding:0 3px; line-height:22px; font-size:12px; color:#b4b4b4; outline:none;margin:0 5px;}
.app_box3 .ab_tea{width:340px; height:120px; overflow-y:auto; overflow-x:hidden;background:#fff; border:1px #ddcd98 solid; float:left; padding:0 3px; font-size:12px; color:#505050; line-height:18px; outline:none; margin:0 5px;}
.app_box3 .ore{float:left; margin-right:5px; margin-top:5px !important; margin-top:0;}
*+html .app_box3 .ore{margin-top:0 !important;}
.app_box3 h6{font-size:12px; color:#787878; line-height:22px; float:left;}

.app_but{background:url(../images/home_icon.png) -445px -782px no-repeat; width:131px; height:42px; border:none; cursor:pointer; font-size:15px; color:#fff; margin-left:270px; margin-top:30px; margin-bottom:20px;}

/* View */
#subject{width:660px; height:auto; overflow:hidden; background:#f0f8fa; border-top:1px #e2d4a6 dotted; padding:15px 20px;}
.business{background:url(../images/home_icon.png) -289px -1053px no-repeat; width:45px; height:45px; float:left; margin-right:7px;}
.customer{background:url(../images/home_icon.png) -289px -1129px no-repeat; width:45px; height:45px; float:left; margin-right:7px;}
#subject_h{width:660px; height:auto; overflow:hidden; border-bottom:1px #c8ba8c dotted; padding-bottom:5px;}
#sh_boxm{float:left; width:440px; padding-top:3px;}
#sh_boxm ol li{width:440px; height:20px;}
#sh_boxm h1{font-size:18px;   color:#505050; float:left; line-height:20px;}
#sh_boxm p{line-height:18px;}
#sh_boxm span{color:#e65000;}
#sh_boxr{float:right; padding-top:28px;cursor:pointer}
#sh_boxr img{width:18px; height:18px; float:left;}
#sh_boxr a{color:#e69600; margin-right:5px; float:left; line-height:18px;}
#sh_boxr p{line-height:18px; float:left; font-family:Arial;}
#sh_boxr .se_but{background:url(../images/home_icon.png) -396px -1053px no-repeat; width:11px; height:11px; font-size:1px; margin-top:3px; float:left; margin-left:5px; border:none; cursor:pointer;}
#subject_lower{width:630px; height:auto; overflow:hidden; padding:15px;}
#subject_lower_l{width:330px; float:left;}
#subject_lower_l p{line-height:24px; color:#9d9066; font-family:Arial;}
#subject_lower_r{background:url(../images/home_icon.png) 0 -1053px no-repeat; width:289px; height:172px; float:left;}
#subject_lower_r ul{padding:10px 15px;}
#subject_lower_r ul li{overflow:hidden;}
#subject_lower_r ul li img{margin-top:10px}
#subject_lower_r h5{font-size:13px; font-weight:bold;   color:#505050; line-height:24px;}
#subject_lower_r span{font-family:Arial; font-size:22px; font-weight:lighter; color:#e65000;}
#subject_lower_r samp{font-size:14px; color:#969696; padding-left:3px;}
#subject_lower_r .rate{float:left;}
#subject_lower_r .rate span{font-size:11px;}
#subject_lower_r p{font-family:Arial; line-height:22px;}
#subject_lower_r h6{float:left; font-size:12px; color:#969696; line-height:14px;}
#subject_lower_r .sub_but{background:url(../images/home_icon.png) -142px -135px no-repeat; width:98px; height:31px; border:none; cursor:pointer; font-size:15px; color:#ffefba; margin-top:10px;}

#details_h{background:url(../images/invest_view_15.gif); width:700px; height:30px; margin-top:10px;}
#details_h ul{padding-left:10px; padding-top:3px;}
#details_h ul li{width:73px; height:26px; line-height:26px; text-align:center; float:left;}
#details_h .cen{background:#fff; border-left:1px #0697da solid; border-right:1px #0697da solid; border-top:1px #0697da solid;}
#details_h .cen a{color:#0697da; font-weight:bold;}
.details{width:660px; height:auto; overflow:hidden; padding:10px 20px;}
.details h6{font-size:12px; font-family:Arial; font-weight:bold; margin-top:12px; color:#505050; line-height:20px;}
.details p{font-family:Arial; color:#646464; line-height:20px; text-indent:24px;}
.details table{border-left:1px #dcdcdc solid; border-top:1px #dcdcdc solid;}
.details th{background:#f5f5f5; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; font-size:13px; font-weight:bold; font-family:"Microsoft Yahei"; color:#646464; line-height:30px; padding:0 10px; text-align:left;}
.details td{border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; font-size:12px; color:#878787; line-height:30px; padding:0 10px; text-align:left;}
.details span{padding-right:5px; font-family:Arial;}
.details h4{width:250px; height:auto; overflow:hidden; margin-bottom:10px; padding-top:20px; border-bottom:2px #0697da solid; line-height:24px; font-size:13px; font-family:"Microsoft Yahei"; font-weight:bold; color:#787878;}
.details h4 span{color:#0697da; padding-right:0;}

/* Discuss */
#discuss{width:700px; height:auto; overflow:hidden;}
#discuss_h{background:url(../images/invest_view_19.gif); width:700px; height:38px;}
#discuss_h h4{margin-left:10px; padding:0 10px; float:left; background:#fff; border-left:1px #0697da solid; border-right:1px #0697da solid; border-top:1px #0697da solid;  font-size:14px; font-weight:bold; color:#505050; height:29px; line-height:29px; margin-top:8px;}
#discuss_h span{font-family:Arial; padding-left:4px; font-weight:lighter; color:#e65000;}

#dis_repost{width:680px; height:auto; overflow:hidden; padding:20px 10px; border-bottom:2px #b4b4b4 solid;}
#dis_repost_l{width:60px; float:left; text-align:center;}
#dis_repost_r{width:610px; float:right;}
#dis_repost_l img{width:60px; height:60px;}
#dis_repost_l a{line-height:18px; color:#0697da;}
#dis_repost .disr_text{width:600px; height:120px; overflow-y:auto; overflow-x:hidden; background:#f5f5f5; border:1px #d2d2d2 solid; float:right; padding:0 4px; font-size:12px; color:#505050; line-height:20px; outline:none;}
#dis_repost .disr_but{background:url(../images/home_icon.png) -344px -1053px no-repeat; width:52px; height:28px; border:none; cursor:pointer; float:right; margin-top:5px; font-size:14px; color:#fff;}

.dis_review{width:680px; height:auto; overflow:hidden; padding:10px; border-bottom:1px #b4b4b4 dotted; margin-top:10px;}
.dis_review_l{width:60px; float:left; text-align:center;}
.dis_review_l img{width:60px; height:60px;}
.dis_review_l a{line-height:18px; color:#0697da;}
.dis_review_div{background:url(../images/home_icon.png) -334px -1053px no-repeat;_background:url(../images/home_icon.gif) -334px -1053px no-repeat; width:10px; height:23px; margin-left:71px !important; margin-left:11px; float:left; position:absolute;}
*+html .dis_review_div{margin-left:11px !important;}
.dis_review_r{width:578px; height:auto; overflow:hidden; float:right; background:#f5f5f5; border:1px #d2d2d2 solid; padding:7px 10px;}
.dis_review_r p{font-family:Arial; color:#505050; line-height:18px;}
.dis_review_r h6{font-family:Arial; font-size:12px; color:#969696; line-height:18px; text-align:right;}

#oper{width:960px; height:auto; overflow:hidden; background:#f7f5ec; padding:15px 20px; margin:20px auto; border-top:1px #cfbe89 dotted;}
#oper h1{font-size:18px; font-family:"Microsoft Yahei"; color:#505050; line-height:24px;}
#oper h1 span{font-size:16px; color:#e65000;}
#oper h6{font-size:14px; font-family:"Microsoft Yahei"; color:#969696; line-height:22px; padding-top:10px;}
#oper h6 span{font-size:22px; color:#e65000; font-family:Arial;}
#oper h6 samp{font-weight:bold; color:#505050; font-family:"Microsoft Yahei";}
#oper ol{padding-top:10px; border-bottom:1px #cfbe89 dotted; width:960px; overflow:hidden; padding-bottom:20px;}
#oper ol li{float:left; margin-right:20px; font-size:12px; color:#969696; line-height:18px;}
#oper #sh_boxr{padding-top:0; float:none;}
#oper_con{width:360px; height:300px; background:#fff; position:absolute; padding:15px 20px;}
#oper_con_bk{width:400px; height:330px; background:#e3d5a4; float:right; margin-top:10px;}
#oper_con_box{width:410px; height:340px; margin:0 auto; padding:30px 0;}
#oper_con ul li{overflow:hidden; padding-bottom:10px;}
#oper_con p{font-size:12px; line-height:18px; color:#969696; float:left; line-height:16px;}
#oper_con .rate{float:left;}
#oper_con samp{font-size:16px; color:#e65000; font-family:Arial;}
#oper_con .epis{background:#f4e5b4; padding:0 5px; font-size:12px; color:#91804a; line-height:28px;}
#oper_con h5{font-size:14px; color:#91804a; line-height:18px; padding-top:30px; border-top:1px #e2d4a6 dotted; margin-top:20px;}
#oper_con h5 samp{color:#e65000; font-family:Arial; font-size:14px; padding:0 3px;}
#oper_con a{margin-left:10px; text-decoration:underline;}
#oper_con h4{width:60px; float:left; font-size:12px; color:#91804a; line-height:24px;}
#oper_con .oper_text1{width:80px; height:22px; background:#fff; border:1px #ddcd98 solid; float:left; outline:none; padding:0 4px; line-height:22px; margin-right:5px;}
#oper_con .oper_text2{width:150px; height:22px; background:#fff; border:1px #ddcd98 solid; float:left; outline:none; padding:0 4px; line-height:22px; margin-right:5px;}
.oper_but{background:url(../images/home_icon.png) -289px -1098px no-repeat; width:98px; height:31px; border:none; cursor:pointer; font-size:16px; color:#ffefba; margin-top:10px; float:left; margin-right:10px;}
#oper_con .p_int{padding-top:20px;}

/* Mous */
#mous{background:url(../images/home_icon.png) 0 -1225px no-repeat; _background:url(../images/home_icon.gif) 0 -1225px no-repeat; width:299px; height:189px; position:absolute; margin-left:341px !important; margin-left:-150px; margin-top:43px; z-index:500; padding:10px;}
*+html #mous{margin-left:-150px !important;}
#mous_upper{width:299px; height:auto; overflow:hidden; padding-top:8px;}
#mous_upper_l{float:left;}
#mous_upper_l img{width:80px; height:80px;}
#mous_upper_r{width:209px; float:right;}
#mous_upper_r a{color:#0697da; font-size:14px; font-weight:bold; line-height:24px;}
#mous_upper_r p{line-height:18px;}
#mous_upper_r span{font-weight:bold;}
#mous_midder{width:299px; padding-top:10px; padding-bottom:20px; overflow:hidden;}
#mous_midder p{float:left; line-height:18px;}
#mous_midder div{float:left; margin-right:10px;}
.rt_1{background:url(../images/user_icon.gif) -16px -69px no-repeat; width:28px; height:18px;}
.rt_1ov{background:url(../images/user_icon.gif) -44px -69px no-repeat; width:28px; height:18px;}
.rt_2{background:url(../images/user_icon.gif) -16px -87px no-repeat; width:28px; height:18px;}
.rt_2ov{background:url(../images/user_icon.gif) -44px -87px no-repeat; width:28px; height:18px;}
.rt_3{background:url(../images/user_icon.gif) -16px -105px no-repeat; width:28px; height:18px;}
.rt_3ov{background:url(../images/user_icon.gif) -44px -105px no-repeat; width:28px; height:18px;}
.rt_4{background:url(../images/user_icon.gif) -16px -123px no-repeat; width:28px; height:18px;}
.rt_4ov{background:url(../images/user_icon.gif) -44px -123px no-repeat; width:28px; height:18px;}
.rt_5{background:url(../images/user_icon.gif) -16px -141px no-repeat; width:28px; height:18px;}
.rt_5ov{background:url(../images/user_icon.gif) -44px -141px no-repeat; width:28px; height:18px;}
.rt_6{background:url(../images/user_icon.gif) -16px -159px no-repeat; width:28px; height:18px;}
.rt_6ov{background:url(../images/user_icon.gif) -44px -159px no-repeat; width:28px; height:18px;}
#mous .h6ban{width:299px; height:22px;}
#mous h6{font-size:12px; color:#878787; line-height:22px; background:#e6e6e6; padding:0 5px; float:left;}
#mous .mousbutBox{width:299px; padding-top:7px; height:23px;}
#mous .mous_but{background:url(../images/home_icon.png) -319px -1233px no-repeat; width:67px; height:23px; border:none; cursor:pointer; float:left; margin-right:7px; font-size:12px; color:#fff;}

#makeMeScrollable{width:100%;height:260px;position:relative}
#makeMeScrollable div.scrollableArea *{position:relative;display:block;float:left;margin:0;padding:0;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none}