/* User Basic */
#top_us{width:100%; height:auto; overflow:hidden; background:#f5f5f5; border-bottom:1px #dcdcdc solid;}
#top_us img{float:left; margin-right:10px; margin-top:10px;}
#top_us ul{float:left; padding-top:10px; padding-bottom:10px;}
#top_us ul li{float:left; padding:0 10px; line-height:24px;}
#top_us a{color:#252525;}
#top_us ol{float:right; padding-top:10px;}
#top_us ol li{float:right; margin-left:20px;}
#top_us ol li img{width:18px; height:18px; float:left; margin-right:5px; margin-top:5px;}
#top_us ol li a{float:left; line-height:26px;}
#top_us .mes_ico{background:url(../images/user_icon.gif) -163px -59px no-repeat; width:19px; height:12px; float:left; margin-right:5px; font-size:1px; margin-top:8px;}
#top_us span{font-weight:bold; color:#929292;}
#top_us ul li ol{width:80px; height:auto; overflow:hidden; background:#f5f5f5; position:absolute; margin-top:0px !important; margin-top:25px; z-index:300;margin-left:-10px;padding-top:0}
*+html #top_us ul li ol{margin-top:20px !important; margin-left:-80px !important;}
#top_us ul li ol li{border-bottom:1px #FCE3A5 dotted; margin-left:0; float:none; width:80px; line-height:26px; text-align:center; height:auto; overflow:hidden; white-space:nowrap;}
#top_us .cen ol li a,#top_us ul li ol li a{font-size:12px; color:#252525;font-weight:normal;}
#top_us ul a:hover,#top_us .cen ol li a:hover   {color:#0697da;}

#content_us{width:1000px; height:auto; overflow:hidden; margin:0 auto; padding:20px 0;}
#us_l{width:200px; background:#ececec; float:left; height:auto; overflow:hidden;}
#us_r{width:780px; height:auto; overflow:hidden; float:right;}

/* Left */
#usl_upper{width:180px; height:auto; overflow:hidden; padding:10px; background:url(../images/user_invt.gif) bottom repeat-x;}
#uslup_upper{width:180px; height:auto; overflow:hidden;}
#uslup_upper_l{float:left;}
#uslup_upper_r{width:110px; float:right;}
#uslup_upper_l img{width:60px; height:60px;}
#uslup_upper_r h4{font-size:14px; font-family:Arial; font-weight:bold; line-height:22px; color:#323232;}
#uslup_upper_r .vip{background:url(../images/user_icon.gif) -145px -27px no-repeat; width:43px; height:16px; font-size:1px;}
#uslup_upper_r p{line-height:18px; padding-top:4px;}
#uslup_upper_r span{font-weight:bold; color:#e65000;}
#uslup_lower{width:180px; height:auto; overflow:hidden; padding-top:5px;}
#uslup_lower p{line-height:20px;}
#uslup_lower .us_appBut{background:url(../images/user_icon.gif) -90px -180px no-repeat; width:59px; height:19px; border:none; cursor:pointer; font-size:12px; color:#fef4e3; margin-left:8px;}

#us_l ul{margin-left:10px; width:190px; height:auto; overflow:hidden; border-bottom:1px #b4b4b4 dotted; padding:10px 0;}
#us_l ul li{width:170px; height:auto; overflow:hidden; padding:0 10px; line-height:24px !important; line-height:21px;}
*+html #us_l ul li{line-height:21px !important;}
#us_l .cen{background:#fff; line-height:24px;}
*+html #us_l .cen{line-height:24px !important;}
#us_l .cen a{color:#e65000; font-weight:bold;}
#us_l h5{font-size:14px; font-weight:bold;}
#us_l h6{font-size:14px; font-weight:bold; color:#545454; padding-bottom:2px;}
#us_l a{float:left;}
#us_l .liDiv{background:url(../images/user_icon.gif) -30px -36px no-repeat; width:7px; height:7px; font-size:1px; margin-left:25px; margin-top:8px !important; margin-top:6px; margin-right:8px; float:left; display:inline;}
*+html #us_l .liDiv{margin-top:6px !important;}
#us_l .ulDiv1{background:url(../images/user_icon.gif) 0 -36px no-repeat; width:16px; height:15px; font-size:1px; margin-top:4px; margin-right:9px; float:left;}
#us_l .ulDiv2{background:url(../images/user_icon.gif) 0 -51px no-repeat; width:16px; height:16px; font-size:1px; margin-top:4px !important; margin-top:2px; margin-right:9px; float:left;}
#us_l .ulDiv3{background:url(../images/user_icon.gif) 0 -131px no-repeat; width:16px; height:16px; font-size:1px; margin-top:4px; margin-right:9px; float:left;}
#us_l .ulDiv4{background:url(../images/user_icon.gif) 0 -67px no-repeat; width:16px; height:16px; font-size:1px; margin-top:4px; margin-right:9px; float:left;}
#us_l .ulDiv5{background:url(../images/user_icon.gif) 0 -83px no-repeat; width:16px; height:16px; font-size:1px; margin-top:4px; margin-right:9px; float:left;}
#us_l .ulDiv6{background:url(../images/user_icon.gif) 0 -115px no-repeat; width:16px; height:16px; font-size:1px; margin-top:4px; margin-right:9px; float:left;}
#us_l .ulDiv7{background:url(../images/user_icon.gif) 0 -99px no-repeat; width:16px; height:16px; font-size:1px; margin-top:4px; margin-right:9px; float:left;}
*+html #us_l .ulDiv2{margin-top:2px !important;}
*+html #us_l .ulDiv3{margin-top:2px !important;}
*+html #us_l .ulDiv4{margin-top:2px !important;}
*+html #us_l .ulDiv5{margin-top:2px !important;}
*+html #us_l .ulDiv6{margin-top:2px !important;}
*+html #us_l .ulDiv7{margin-top:2px !important;}

/* Us_home */
#ush_h{width:780px; height:auto; overflow:hidden; border-bottom:1px #dcdcdc solid;}
#ush_h h3{font-size:15px; font-weight:bold; font-family:"Microsoft Yahei"; color:#e69600; line-height:22px; float:left;}
#ush_h .mes_ico2{background:url(../images/user_icon.gif) -163px -47px no-repeat; width:19px; height:12px; font-size:1px; float:left; margin-left:30px; margin-right:7px; margin-top:4px;}
#ush_h a{font-size:13px; float:left; line-height:20px; font-family:"Microsoft Yahei";}
#ush_h span{font-weight:bold; padding:0 3px; font-family:Arial;}
#ush_h p{line-height:20px; float:right;}

#att{width:760px; height:auto; overflow:hidden; background:#f5f5f5; padding:10px; margin-top:20px;}
#att p{line-height:18px; float:left;}
#att .rate_att{float:left; padding-top:2px;}
#att ul{float:left;}
#att ul li{padding-left:15px; line-height:18px; font-size:12px; color:#505050; float:left;}
#att a{color:#e65000; margin-left:5px;}
#att a:hover{color:#505050;}
#att .rt_1{background:url(../images/user_icon.gif) -16px -69px no-repeat; width:28px; height:18px; float:left;}
#att .rt_1ov{background:url(../images/user_icon.gif) -44px -69px no-repeat; width:28px; height:18px; float:left;}
#att .rt_2{background:url(../images/user_icon.gif) -16px -87px no-repeat; width:28px; height:18px; float:left;}
#att .rt_2ov{background:url(../images/user_icon.gif) -44px -87px no-repeat; width:28px; height:18px; float:left;}
#att .rt_3{background:url(../images/user_icon.gif) -16px -105px no-repeat; width:28px; height:18px; float:left;}
#att .rt_3ov{background:url(../images/user_icon.gif) -44px -105px no-repeat; width:28px; height:18px; float:left;}
#att .rt_4{background:url(../images/user_icon.gif) -16px -123px no-repeat; width:28px; height:18px; float:left;}
#att .rt_4ov{background:url(../images/user_icon.gif) -44px -123px no-repeat; width:28px; height:18px; float:left;}
#att .rt_5{background:url(../images/user_icon.gif) -16px -141px no-repeat; width:28px; height:18px; float:left;}
#att .rt_5ov{background:url(../images/user_icon.gif) -44px -141px no-repeat; width:28px; height:18px; float:left;}
#att .rt_6{background:url(../images/user_icon.gif) -16px -159px no-repeat; width:28px; height:18px; float:left;}
#att .rt_6ov{background:url(../images/user_icon.gif) -44px -159px no-repeat; width:28px; height:18px; float:left;}

.us_rh{width:778px; background:url(../images/user_48.gif); height:39px; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid;}
.us_rh ul li{float:left; width:96px; height:39px; text-align:center; line-height:31px;}
.us_rh .usrhDiv{width:1px; height:31px; background:#dcdcdc; margin-top:1px;}
.us_rh .cen{background:url(../images/user_icon.gif) -90px -141px no-repeat; font-size:12px; color:#fff;}
.us_rh .cen a{color:#fff;}

.us_rb1{width:738px; height:auto; overflow:hidden; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; padding:15px 20px;}
.us_rb1 p{line-height:24px; padding-bottom:5px; width:369px; float:left; font-family:Arial;}
.us_rb1 span{color:#e65000;}
.us_rb1 samp{color:#3c9a22; padding-left:5px;}
.us_rb1 .red{color:#e65000;}
.us_rb1 .yellow{color:#f6c530;}
.us_rb1 .green{color:#3c9a22;}
.us_rb1 a{margin-left:5px;}

.us_rb2{width:738px; height:auto; overflow:hidden; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; padding:15px 20px;}
.us_rb2_upper{width:738px; height:auto; overflow:hidden; border-bottom:1px #d2d2d2 dotted; padding-bottom:10px;}
.us_rb2_upper h4{font-size:13px; font-weight:bold; font-family:"Microsoft Yahei"; color:#505050; line-height:27px; float:left;}
.us_rb2_upper span{font-family:Arial; font-weight:lighter; color:#e65000; font-size:18px;}
.us_rb2_upper .rb2_but1{background:url(../images/user_icon.gif) -90px 0 no-repeat; width:58px; height:27px; border:none; cursor:pointer; font-size:14px; color:#fff; float:left; margin-left:10px;}
.us_rb2_upper .rb2_but2{background:url(../images/user_icon.gif) -148px 0 no-repeat; width:58px; height:27px; border:none; cursor:pointer; font-size:14px; color:#787878; float:left; margin-left:10px;}
.us_rb2_lower{width:738px; height:auto; overflow:hidden; padding-top:10px;}
.us_rb2_lower p{line-height:24px; padding-bottom:5px; width:184px; float:left; font-family:Arial;}
.us_rb2_lower span{color:#e65000;}
.us_rb2_lower a{margin-left:5px;}

.clew_us{width:758px; height:auto; overflow:hidden; background:#fcf9d6; border:1px #e69600 solid; padding:8px 10px;}
.clew_us .clew_lic{background:url(../images/user_icon.gif) -37px -36px no-repeat; width:17px; height:17px; font-size:1px; float:left;}
.clew_us .ceu_r{width:736px; float:right;}
.clew_us span{font-weight:bold; font-family:Arial; padding:0 3px;}
.clew_us p{font-family:Arial; color:#a6854b; line-height:16px; padding-bottom:7px;}
.clew_us a{text-decoration:underline;}
.clew_us a:hover{text-decoration:none;}

.us_rb3{width:738px; height:auto; overflow:hidden; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; padding:15px 20px;}
.urb3_box{width:204px; border:1px #dcdcdc solid; float:left; margin:10px; display:inline; padding:10px;}
.urb3_box img{width:60px; height:60px; float:left;}
.urb3_box ul{width:136px; float:right;}
.urb3_box ul li a{font-family:Arial; font-size:13px; font-weight:bold; color:#505050; line-height:20px;}
.urb3_box ul li p{font-family:Arial; line-height:16px; padding-bottom:4px;}
.urb3_box .fri_but1{background:url(../images/user_icon.gif) -90px -27px no-repeat; width:55px; height:20px; border:none; cursor:pointer; float:left; margin-right:8px; font-size:12px; color:#fff0c2; outline:none;}
.urb3_box .fri_but2{background:url(../images/user_icon.gif) -90px -47px no-repeat; width:73px; height:20px; border:none; cursor:pointer; float:left; font-size:12px; color:#787878; text-align:right; outline:none; padding-right:5px;}

.us_rb4{width:758px; height:auto; overflow:hidden; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; padding:10px;}
.us_rb4_search{background:#f5f5f5; margin-bottom:10px; padding:5px 10px; overflow:hidden; width:738px;}
.us_rb4_search h6{color:#646464; line-height:26px; float:left; font-size:12px; font-weight:bold; font-family:"Microsoft Yahei";}
.us_rb4_search p{float:left; color:#787878; line-height:26px;}
.us_rb4_search .date_text{width:120px; height:24px; border:1px #d2d2d2 solid; background-color:#fff; background-image:url(../images/user_dateico.gif); background-position:102px 4px; background-repeat:no-repeat; float:left; padding:0 5px; line-height:24px; font-size:12px; font-family:Arial; color:#787878; margin:0 3px;}
.us_rb4_search .us_seaBut{background:url(../images/user_icon.gif) -90px -89px no-repeat; width:73px; height:26px; border:none; cursor:pointer; float:left; font-size:12px; color:#787878; text-align:right; outline:none; padding-right:12px; margin-left:2px;}
.us_rb4 table{border-left:1px #dcdcdc solid; border-top:1px #dcdcdc solid;}
.us_rb4 th{background:#f5f5f5; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; font-size:12px; font-weight:bold; color:#646464; line-height:30px; padding:0 10px; text-align:left;}
.us_rb4 td{border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; font-size:12px; color:#878787; line-height:30px; padding:0 10px; text-align:left;}
.us_rb4 span{padding-right:5px; font-family:Arial;}
.us_rb4 h4{width:250px; height:auto; overflow:hidden; margin-bottom:10px; padding-top:20px; border-bottom:2px #e69600 solid; line-height:24px; font-size:13px; font-family:"Microsoft Yahei"; font-weight:bold; color:#787878;}
.us_rb4 h4 span{color:#e69600; padding-right:0;}
.us_rb4 .u4_but2{background:url(../images/user_icon.gif) 0 0 no-repeat; width:90px; height:36px; border:none; cursor:pointer; margin-left:260px; margin-top:40px; margin-bottom:40px; font-size:16px; color:#fff;}

.us_rb5{width:458px; height:auto; overflow:hidden; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; padding:90px 160px;}
.us_rb5_upper{width:458px; height:auto; overflow:hidden; padding-bottom:40px;}
.us_rb5_upper_l{background:url(../images/user_icon.gif) -206px -136px no-repeat; width:90px; height:64px; float:left;}
.us_rb5_upper_r{width:348px; float:right;}
.us_rb5_upper_r h2{font-family:"Microsoft Yahei"; font-size:24px; color:#e69600; line-height:26px;}
.us_rb5_upper_r p{font-size:13px; line-height:16px; padding-top:5px;}
.us_rb5_upper_r span{color:#e69600; padding:0 3px;}
.us_rb5 ul li{width:458px; height:auto; overflow:hidden; padding-bottom:5px;}
.us_rb5 ul li p{float:left; line-height:28px;}
.us_rb5 .invi_text{width:362px; height:26px; padding:0 5px; font-size:12px; font-family:Arial; color:#787878; line-height:22px; border:1px #d2d2d2 solid; background:#f5f5f5; float:left;}
.us_rb5 .invi_but{background:url(../images/user_icon.gif) -90px -67px no-repeat; width:47px; height:22px; margin-left:84px; border:none; cursor:pointer; font-size:12px; color:#fff; margin-bottom:20px;}
.us_rb5 samp{font-family:Arial; color:#e69600; font-size:18px; font-weight:bold;}
.us_rb5 h6{font-size:12px; color:#e65000; line-height:24px;}

.us_rb6{width:618px; height:auto; overflow:hidden; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; padding-bottom:70px; padding-left:130px; padding-right:30px; padding-top:70px;}
.us_rb6_l{background:url(../images/user_icon.gif) -206px -36px no-repeat; width:98px; height:64px; float:left;}
.us_rb6_r{width:500px; float:right;}
.us_rb6 p{font-size:14px; line-height:24px;}
.us_rb6 span{color:#e69600;}
.us_rb6 .em_inviBut{background:url(../images/user_icon.gif) -206px -100px no-repeat; width:111px; height:36px; border:none; cursor:pointer; font-size:15px; color:#fff; margin:40px 0;}
.us_rb6 ol li{width:500px; height:auto; overflow:hidden; line-height:24px;}
.us_rb6 ol li p{color:#969696; font-size:12px;}
.us_rb6 ol li .em_newText{width:100px; height:22px; border:1px #d2d2d2 solid; background:#f5f5f5; margin-left:20px; float:left; font-size:12px; color:#787878; font-family:Arial; line-height:22px; padding:0 4px;}
.us_rb6 ol li a{margin-left:20px; float:left; line-height:24px;}
.us_rb6 ol li h6{font-size:13px; color:#787878; font-family:"Microsoft Yahei"; font-weight:bold; float:left; line-height:24px;}
.us_rb6 ol li .atten_ico{background:url(../images/user_icon.gif) -16px -36px no-repeat; width:14px; height:14px; font-size:1px; float:left; margin-right:5px; margin-top:5px;}

.us_rb7{width:718px; height:auto; overflow:hidden; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; padding:20px 30px;}
.us_rb7 ul li{width:718px; height:auto; overflow:hidden; padding-bottom:15px;}
.us_rb7 p{width:105px; float:left; text-align:right; font-size:14px; line-height:40px;}
.us_rb7 ol{float:left; width:613px;}
.us_rb7 ol li{float:left; margin-right:20px; display:inline; margin-bottom:15px; width:130px; padding-bottom:0; white-space:nowrap;}
.us_rb7 .nopatch{border:1px #d2d2d2 dotted; float:left;}
.us_rb7 .patch{border:1px #e65000 solid; float:left;}
.us_rb7 .ord{float:left; margin-top:15px !important; margin-top:9px; margin-right:5px;}
*+html .us_rb7 .ord{margin-top:9px !important;}
.us_rb7 .ord2{float:left; margin-top:9px !important; margin-top:5px; margin-right:5px;}
*+html .us_rb7 .ord2{margin-top:5px !important;}
.us_rb7 .int_ub7{padding-top:5px;}
.us_rb7 .payBox{float:left; padding:5px; background:#f0f0f0;}
.us_rb7 .payBox .u7pb_text{width:110px; height:34px; line-height:34px; float:left; background:#fff; border:1px #d2d2d2 solid; padding:0 5px; font-size:14px; color:#b4b4b4;}
.us_rb7 .payBox samp{line-height:36px; float:left; padding:0 5px; font-size:14px; color:#787878;}
.us_rb7 .payBox .u7pb_but{background:url(../images/user_icon.gif) -206px 0 no-repeat; width:123px; height:36px; border:none; cursor:pointer; margin-left:15px; font-size:15px; color:#fff;}
.us_rb7 .pay1{background:url(../images/bank.gif) 0 0 no-repeat; width:98px; height:38px;}
.us_rb7 .pay2{background:url(../images/bank.gif) -98px 0 no-repeat; width:98px; height:38px;}
.us_rb7 .pay3{background:url(../images/bank.gif) -196px 0 no-repeat; width:98px; height:38px;}
.us_rb7 .pay4{background:url(../images/bank.gif) -294px 0 no-repeat; width:98px; height:38px;}
.us_rb7 .bank1{background:url(../images/bank.gif) 0 -38px no-repeat; width:85px; height:30px;}
.us_rb7 .bank2{background:url(../images/bank.gif) -85px -38px no-repeat; width:85px; height:30px;}
.us_rb7 .bank3{background:url(../images/bank.gif) -170px -38px no-repeat; width:85px; height:30px;}
.us_rb7 .bank4{background:url(../images/bank.gif) -255px -38px no-repeat; width:85px; height:30px;}
.us_rb7 .bank5{background:url(../images/bank.gif) 0 -68px no-repeat; width:85px; height:30px;}
.us_rb7 .bank6{background:url(../images/bank.gif) -85px -68px no-repeat; width:85px; height:30px;}
.us_rb7 .bank7{background:url(../images/bank.gif) -170px -68px no-repeat; width:85px; height:30px;}
.us_rb7 .bank8{background:url(../images/bank.gif) -255px -68px no-repeat; width:85px; height:30px;}
.us_rb7 .bank9{background:url(../images/bank.gif) 0 -98px no-repeat; width:85px; height:30px;}
.us_rb7 .bank10{background:url(../images/bank.gif) -85px -98px no-repeat; width:85px; height:30px;}
.us_rb7 .bank11{background:url(../images/bank.gif) -170px -98px no-repeat; width:85px; height:30px;}
.us_rb7 .bank12{background:url(../images/bank.gif) -255px -98px no-repeat; width:85px; height:30px;}
.us_rb7 .bank13{background:url(../images/bank.gif) 0 -128px no-repeat; width:85px; height:30px;}
.us_rb7 .bank14{background:url(../images/bank.gif) -85px -128px no-repeat; width:85px; height:30px;}
.us_rb7 .bank15{background:url(../images/bank.gif) -170px -128px no-repeat; width:85px; height:30px;}
.us_rb7 .bank16{background:url(../images/bank.gif) -255px -128px no-repeat; width:85px; height:30px;}
.us_rb7 .bank17{background:url(../images/bank.gif) 0 -158px no-repeat; width:85px; height:30px;}
.us_rb7 .bank18{background:url(../images/bank.gif) -85px -158px no-repeat; width:85px; height:30px;}
.us_rb7 .bank19{background:url(../images/bank.gif) -170px -158px no-repeat; width:85px; height:30px;}
.us_rb7 .bank20{background:url(../images/bank.gif) -255px -158px no-repeat; width:85px; height:30px;}

.us_rb8{width:718px; height:auto; overflow:hidden; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; padding:20px 30px;}
.us_rb8 .u8_clew{width:280px; height:auto; overflow:hidden; margin:30px auto; background:#e65000;}
.us_rb8 .u8_clew p{text-align:center; color:#fff; line-height:48px;}
.us_rb8 .u8_clew span{font-family:Arial; color:#ff0; font-weight:bold; font-size:16px;}
.us_rb8 ul{padding-top:40px;}
.us_rb8 ul li{width:718px; height:auto; overflow:hidden; margin-bottom:40px;}
.us_rb8 ul li p{width:80px; float:left; text-align:right; font-size:14px; line-height:38px;}
.us_rb8 .blueBk{background:#e6eff4; width:618px; height:auto; overflow:hidden; float:left; padding:0 10px;}
.us_rb8 .ord{float:left; margin-top:12px !important; margin-top:7px; margin-right:5px;}
*+html .us_rb8 .ord{margin-top:7px !important;}
.us_rb8 img{width:21px; height:21px; float:left; margin-top:5px; margin-right:5px;}
.us_rb8 h6{font-size:14px; line-height:38px; float:left; color:#505050; margin-right:15px;}
.us_rb8 .blueBk span{float:right; line-height:38px; font-size:12px; color:#969696;}
.us_rb8 .u8_text{width:120px; height:36px; float:left; background:#f5f5f5; border:1px #d2d2d2 solid; font-size:14px; color:#787878; line-height:36px; padding:0 5px;}
.us_rb8 .u8_but{background:url(../images/user_icon.gif) 0 0 no-repeat; width:90px; height:36px; margin-top:8px; border:none; cursor:pointer; font-size:15px; color:#fff;}

.us_rb9{width:748px; height:auto; overflow:hidden; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; padding:10px 15px;}
.u9_search{width:748px;}
.u9_search .excel{background:url(../images/user_icon.gif) -90px -115px no-repeat; width:90px; height:26px; border:none; cursor:pointer; float:right; font-size:12px; color:#fff; text-align:right; padding-right:8px; margin-top:5px;}
.u9_search ol{background:#f0f0f0; float:left; padding:3px 5px; overflow:hidden;}
.u9_search ol li{float:left; margin-right:5px; display:inline; font-size:12px; line-height:24px; color:#878787;}
.u9_search p{font-weight:bold; padding-left:10px;}
.u9_search .u9s_text{width:105px; height:24px; border:1px #d2d2d2 solid; background-color:#fff; background-image:url(../images/user_dateico.gif); background-position:97px 4px; background-repeat:no-repeat; padding:0 5px; line-height:24px; font-size:12px; font-family:Arial; color:#787878;}
.u9_search .u9s_But{background:url(../images/user_icon.gif) -90px -89px no-repeat; width:73px; height:26px; border:none; cursor:pointer; font-size:12px; color:#787878; text-align:right; outline:none; padding-right:12px; margin-top:0 !important; margin-top:1px;}
*+html .u9_search .u9s_But{margin-top:1px !important;}
.u9_search .sel_border{*border:1px solid #d2d2d2; height:20px;}
.u9_search .sel{border:1px solid #d2d2d2; height:26px;}
*+html .u9_search .sel{height:22px;}
.us_rb9 h4{width:250px; height:auto; overflow:hidden; padding-top:30px; border-bottom:2px #e69600 solid; line-height:24px; font-size:13px; font-family:"Microsoft Yahei"; font-weight:bold; color:#787878;}
.us_rb9 h4 span{color:#e69600;}
.us_rb9 ul{padding-top:10px; padding-bottom:50px;}
.us_rb9 ul li{width:758px; height:auto; overflow:hidden; line-height:26px !important; line-height:24px;}
*+html .us_rb9 ul li{line-height:24px !important;}
.us_rb9 .botLine{border-bottom:1px #b4b4b4 dotted;}
.us_rb9 .sto{font-weight:bold;}
.us_rb9 .grBk{background:#f5f5f5; font-size:12px; color:#969696; padding:0 10px; margin-left:23px; width:610px;}
.us_rb9 ul li p{width:110px; float:left; text-align:right;}
.us_rb9 ul li span{color:#e65000; font-family:Arial; padding:0 8px; float:left; font-size:12px;}
.us_rb9 ul li samp{float:left; font-size:12px; color:#aaa;}

.us_rb10{width:748px; height:auto; overflow:hidden; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; padding:10px 15px;}
.us_rb10 h4{width:250px; height:auto; overflow:hidden; padding-top:20px; border-bottom:2px #e69600 solid; line-height:24px; font-size:13px; font-family:"Microsoft Yahei"; font-weight:bold; color:#787878;}
.us_rb10 h4 span{color:#e69600;}
.us_rb10 ul{padding-top:10px; padding-bottom:10px;}
.us_rb10 ul li{width:748px; height:auto; overflow:hidden; line-height:26px !important; line-height:24px; border-bottom:1px #d2d2d2 dotted;font-size:12px; color:#505050; margin-bottom:8px; padding-bottom:4px;}
*+html .us_rb10 ul li{line-height:24px !important;}
.us_rb10 ul li p{width:110px; float:left; text-align:right;}
.us_rb10 .ord{float:left; margin-top:6px !important; margin-top:0;}
*+html .us_rb10 .ord{margin-top:0 !important;}
.us_rb10 h6{font-size:12px; color:#505050; float:left; margin-right:20px;}
.us_rb10 ol{float:left;}
.us_rb10 ol li{width:608px; height:auto; overflow:hidden; line-height:18px; background:#f5f5f5; margin-bottom:3px; font-size:12px; color:#505050; padding:2px 5px;}
.us_rb10 .u10_tex1{width:80px; height:20px; background:#fff; border:1px #dcdcdc solid; margin:0 5px; padding:0 5px; font-size:12px; color:#505050; line-height:20px;}
.us_rb10 .u10_tex2{width:80px; height:20px; background:#fff; border:1px #ddcd98 solid; margin:0 5px; padding:0 5px; font-size:12px; color:#505050; line-height:20px;}
.us_rb10 .u10_tex3{width:360px; height:80px; overflow-y:auto; overflow-x:hidden; background:#fff; border:1px #ddcd98 solid; margin:0 5px; padding:0 5px; font-size:12px; color:#505050; line-height:20px;}
.us_rb10 .u10_but{background:url(../images/user_icon.gif) 0 0 no-repeat; width:90px; height:36px; border:none; cursor:pointer; margin-top:20px; margin-bottom:40px; margin-left:110px; font-size:15px; color:#fff;}
.us_rb10 .sel_border{float:left; margin-right:10px;}

.us_rb11{width:748px; height:auto; overflow:hidden; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; padding:30px 15px;}
.us_rb11 ul li{width:748px; height:auto; overflow:hidden; line-height:26px !important; line-height:24px; font-size:12px; color:#505050; margin-bottom:8px; padding-bottom:4px;}
*+html .us_rb11 ul li{line-height:24px !important;}
.us_rb11 p{width:160px; float:left; text-align:right; font-size:12px; font-family:Arial;}
.us_rb11 .sel_border{float:left; margin-right:10px;}
.us_rb11 span{color:#e65000; padding:0 5px;}
.us_rb11 .u11_tex1{width:180px; height:22px; border:1px #ddcd98 solid; background:#fff; float:left; padding:0 5px; line-height:22px; font-size:12px; color:#787878;}
.us_rb11 h6{float:left; padding-left:7px; font-size:12px; color:#969696;}
.us_rb11 .u11_but{background:url(../images/user_icon.gif) 0 0 no-repeat; width:90px; height:36px; border:none; cursor:pointer; margin-top:20px; margin-bottom:40px; font-size:16px; color:#fff;}

.us_rb12{width:748px; height:auto; overflow:hidden; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; border-bottom:1px #dcdcdc solid; padding:20px 15px;}
.us_rb12 .u12_clew{width:726px; height:auto; overflow:hidden; margin:0 auto; background:#FFF1C4; border:1px #e65000 solid; padding:0 10px;}
.us_rb12 .u12_clew p{color:#e65000; line-height:24px; width:auto;}
.us_rb12 ul{padding:50px 100px;}
.us_rb12 ul li{width:548px; height:auto; overflow:hidden; line-height:26px !important; line-height:24px; font-size:12px; color:#505050; margin-bottom:8px; padding-bottom:4px;}
*+html .us_rb12 ul li{line-height:24px !important;}
.us_rb12 p{width:90px; float:left; text-align:right; font-size:12px; font-family:Arial;}
.us_rb12 .u12_tex1{width:180px; height:22px; border:1px #ddcd98 solid; background:#fff; float:left; padding:0 5px; line-height:22px; font-size:12px; color:#787878;}
.us_rb12 .u12_but1{width:60px; height:24px; float:left; font-size:12px; color:#787878; margin-left:5px; cursor:pointer; border:1px #b4b4b4 dotted; background:#f5f5f5;}
.us_rb12 h6{float:left; padding-left:7px; font-size:12px; color:#969696; line-height:18px;}
.us_rb12 .u12_but2{background:url(../images/user_icon.gif) 0 0 no-repeat; width:90px; height:36px; border:none; cursor:pointer; margin-top:20px; margin-bottom:40px; font-size:16px; color:#fff;}
.us_rb12 .sel_border{float:left; margin-right:10px;}
td.read{cursor: pointer;color: #0697DA;}