
.timeInput_Day
{
    height: 15px;
    width: 95px;
    text-align: left;
    background-color: #fff;
    padding: 2px;
    font-size: 12px;
    margin-right: 4px;
    vertical-align: middle;
    background-image: url(__ROOT__/Style/H/images/timer.jpg);
    background-repeat: no-repeat;
    background-position: right;
    border: 1px #ccc solid;
}
.tdContent
{
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    height: 28px;
    color: Gray;
    border: 1px #cee1ee solid;
}
.tdEven
{
    background-color: #f9f9f9;
}
.tdHeard
{
    text-align: center;
    vertical-align: middle;
    background-color: #f9f9f9;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    border: 1px #cee1ee solid;
}
DIV.yahoo2
{
    font-size: 12px;
    width: 738px;
    line-height: 28px;
    overflow: hidden;
    padding-top: 10px;
    text-align: right;
    padding-right: 14px;
}
DIV.yahoo2 A
{
    padding: 4px 8px;
    margin: 2px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ccc;
    font-size: 12px;
}
DIV.yahoo2 A:hover
{
    border: 1px solid #B8B8B8;
    color: #FFF;
    background-color: #B8B8B8;
}
DIV.yahoo2 A.current
{
    border: 1px solid #B8B8B8;
    color: #FFF;
    background-color: #B8B8B8;
    cursor: text;
}
DIV.yahoo2 A.disabled
{
    color: #888;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: text;
}
DIV.yahoo2 A.last
{
    padding: 4px 8px;
    margin: 2px;
    text-decoration: none;
    color: #888;
    font-size: 12px;
    border: 1px solid #ccc;
}

